:root{
    /* globals color */
    /* not all */
    --main-color: #FFB342; /* orange color */
    --secondary-color: #1C2752; /* blue color */
    --black-color: #222222;
    --gray-color: #7E7E7E;
    --gray-silver-color: #D2D2D2;
    --white-color: #F2F2F2;
    --white-solid-color: #ffffff;
    --white-gray-color: #f4f4f4;
    --blue-gray-color: #4B557D; /* for borders */
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Mulish;
    src: url('../fonts/Mulish-Regular.ttf');
    font-weight: 400;
}

/* globals */

[data-aos^="fade"][data-aos^="fade"]{
    transition-property: opacity,transform,background-color;
}

*,
::before,
::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track{
    background: var(--main-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(28, 39, 82, 0.86);
}

::placeholder,
::-moz-placeholder,
::-webkit-input-placeholder{
    color: var(--secondary-color);
}

::selection{
    background-color: var(--black-color);
    color: var(--white-color);
}

li{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    background: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Mulish';
}   

h1 {
    font-size: 3.75rem;
    color: var(--white-solid-color);
    line-height: 1.3;
    text-transform: capitalize;
}

h2{
    color: var(--secondary-color);
    font-size: 2.8125rem;
    line-height: 1.3;
}

@media screen and (max-width: 43.75rem) {
    h2{
        font-size: 2.4rem;
    }
}

h3{
    font-size: 1.875rem;
    line-height: 1.4;
    color: var(--secondary-color);
}

h4{
    font-size: 1.5625rem;
    line-height: 1.5;
    text-transform: capitalize;
}

h5{
    font-size: 1.25rem;
    line-height: 1.4;
    text-transform: capitalize;
    color: var(--secondary-color);
}


p{
    font-size: 1.125rem;
    line-height: 1.5;
}

input,textarea{
    font-size: 1.0625rem;
    line-height: 1.59;
}

input:focus-visible,
textarea:focus-visible{
    outline: 2px solid var(--main-color);
}

textarea{
    resize: none;
}

.section-subtitle{
    margin-top: .666666666em;
    line-height: 1.5;
}

.section-top._center{
    text-align: center;
    max-width: 52.5rem;
    margin: 0 auto;
}

.list-item {
    position: relative;
    padding-left: 3.25rem;
}

.list-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-image: url('../images/icons/checkMark.svg');
    background-size: cover;
}

.list-item h4 {
    margin-bottom: .4em;
}

.contacts-info{
    display: flex;
    align-items: center;
}

.contacts-info__item{
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.contacts-info__icon{
    width: 3.77777em;
    height: 3.77777em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--main-color);
}

.contacts-info__title{
    font-size: 1.25rem;
    color: var(--white-solid-color);
    letter-spacing: 0.018em;
    line-height: 1.3;
    margin-bottom: 0.05em;
    font-family: Mulish, sans-serif;
}

.contacts-info__link{
    font-size: 1.0625rem;
    line-height: 1.59;
    letter-spacing: 0.021;
    display: inline-block;
}

@media screen and (max-width: 53.75rem) {
    .contacts-info__icon {
        width: 3em;
        height: 3em;
    }

    .contacts-info__icon svg {
        width: 40%;
    }
}

body{
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: var(--gray-color);
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: .36px;
}

body._overlflow{
    overflow:hidden;
}

.container {
    max-width: 76.875rem;
    padding: 0 15px;
    margin: 0 auto;
}

.btn{
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 0.018;
    padding: .95em 2.1em;
    background-color: var(--main-color);
    display: inline-block;
    color: var(--secondary-color);

    transition: all .2s ease-in;
}

.btn:focus{
    transform: scale(.9);
}

.btn:hover{
    background-color: #ffb342c0;
}

.short-about-text{
    display: -webkit-inline-box;
    display: inline-flex;
    background-color: var(--white-gray-color);
    font-size: 1.125rem;
    padding: 0 1.1111em;
    align-items: center;
    column-gap: 0.55555em;
    color: var(--secondary-color);
    margin-bottom: 1.222222em;
}

.short-about-text img{
    flex-basis: 30px;
}

.short-about-text p{
    line-height: 1.5;
    display: ruby;
    display: -webkit-ruby;
}

.flex-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main__logo-wrapper{
    z-index: 100;
}

.logo{
    display: flex;
    gap: 13px;
    align-items: center;
    z-index: 100;
}

.burger{
    display: none;
    width: 40px;
    height: 20px;
    position: relative;
}

.burger span,
.burger::before,
.burger::after{
    content: '';
    background-color: var(--secondary-color);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transform-origin: right;

    transition: all .3s ease-in, opacity .1s ease-in;
}

.burger span{
    top: 50%
}

.burger::after{
    top: 100%;
}

.burger._active span{
    opacity: 0;
}

.burger._active::before{
    transform: rotate(-45deg) translateY(-5px);
}

.burger._active::after{
    transform: rotate(45deg) translateY(5px);
}

.header-top{
    padding: 20px 0;
    background-color: var(--white-color);
    color: var(--secondary-color);
    font-size: 1.0625rem;
}

.header-top__icons-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-top__icon svg{
    transition: all .2s ease-in;
}

.header-top__icon:hover svg{
    transform: scale(1.2);
}

.header-main__menu-wrapper{
    padding-bottom: 30px;
    position: relative;
}

.header-main__wrapper{
    padding: 30px 0 30px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.header-main__contacts-info{
    gap: 60px;
}

.header-main__contacts-title{
    color: var(--secondary-color);
}

.header-menu{
    background-color: var(--main-color);
    padding: 10px;
    width: 100%;
    left: 0;
}

.header-menu__link-wrapper{
    display: flex;
    align-items: center;
    column-gap: 55px;
    padding: 20px 25px;
}

.header-menu__link{
    color: var(--black-color);
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 0.018em;

    transition: color .2s ease-in-out, opacity .3s ease-in-out;
}

.header-menu__link:hover{
    color: var(--white-solid-color);
    opacity: .5;
}

.header-menu__link._active{
    color: var(--white-solid-color);
}

.header-menu__link._active:hover{
    opacity: 1;
}

.header-menu__btn{
    background-color: var(--secondary-color);
    color: var(--white-color);
}

header .header-menu .header-menu__btn:hover{
    background-color: #1c2752d5;
}

@media screen and (max-width: 63.125rem) {
    .header-menu__btn{
        font-size: 1rem;
    }

    .header-menu__link{
        font-size: 1rem;
    }

    .header-menu__link-wrapper{
        column-gap: 30px;
        padding: 15px 20px;
    }
}

@media screen and (min-width: 47.5rem) {
    .header-menu {
        padding: 10px;
        position: absolute;
        top: 100%;
        transform: translateY(-30px);
    }
}

@media screen and (max-width: 47.5rem) {
    .header-main__menu-wrapper{
        padding-bottom: 0;
        width: 100%;
    }

    .header-menu{
        padding: 90px 0 20px;
        height: 100%;
        position: fixed;
        z-index: 50;
        top: -100%;
        flex-direction: column;
        transition: top .3s ease-in;
        overflow: scroll;
    }

    .header-main__logo-wrapper{
        background-color: var(--white-solid-color);
        width: 100%;
        transition: all .2s ease-in;
    }

    .header-main__logo-wrapper._active{
        padding: 10px 15px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .header-menu__link{
        font-size: 1.4rem;
    }

    .header-menu__link-wrapper{
        row-gap: 20px;
    }

    .header-menu._show{
        top: 0;
    }

    .header-menu__link-wrapper{
        flex-direction: column;
    }

    .burger{
        display: block;
    }
}


/* main */

.main{
    padding: 260px 0 220px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main__content{
    max-width: 45rem;
}

.main__short-about-text{
    color: var(--white-solid-color);
    background-color: rgba(255, 255, 255, .2);
}

.main__short-about-text p{
    display: block;
}


.title{
    padding: 0 0 .48em;
}


/* about us */

.about-us{
    padding: 140px 0 140px;
}

.about-us__wrapper{
    column-gap: 15px;
}

.about-us__img-wrapper{
    flex: 0 1 575px;
}

.about-us__img-wrapper img{
    width: 100%;
}

.about-us__content{
    flex: 0 1 575px;
}

.about-us__title{
    margin-bottom: 12px;
}

.about-us__text{
    line-height: 1.5;
}

.about-us__text:not(:last-child) {
    margin-bottom: 10px;
}

.about-us__details{
    margin-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    justify-content: space-between;
}

.about-us__experience{
    background-color: var(--white-gray-color);
    padding: 1.5em 1em 2.5em;
    flex: 0 1 198px;
    text-align: center;
}

.about-us__experience span{
    font-size: 5rem;
    color: var(--main-color);
    line-height: 1.1;
    letter-spacing: .0045;
    font-family: 'Mulish';
}

.about-us__experience p{
    font-size: 1.25rem;
    line-height: 1.3;
    letter-spacing: .0043;
    color: var(--secondary-color);
}

.about-us__benefits-list li{
    font-size: 1.0625rem;
    line-height: 1.59;
}

.about-us__benefits-list li:not(:last-child){
    margin-bottom: .05882em;
}



@media screen and (max-width: 58.75rem) {
    .about-us__wrapper{
        flex-direction: column;
        row-gap: 40px;
    }

    .about-us__img-wrapper{
        flex: 0;
        order: 1;
    }
}



/* we-offer */

.we-offer{
    padding: 140px 0 470px;
    background-color: var(--main-color);
}

.we-offer .we-offer__top{
    color: var(--secondary-color);
    margin-bottom: 2.5em;
}

.tab{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1.875em;
    row-gap: 1em;
}

.tab__link{
    display: flex;
    align-items: center;
    column-gap: .5em;
    color: var(--black-color);
    border: 1px solid var(--secondary-color);
    padding-top: .85em;
    padding-bottom: .85em;
    cursor: pointer;

    transition: all .3s ease-in-out;
}

.tab__link:hover{
    background-color: rgba(255, 255, 255, .3);
    border-color: rgba(255, 255, 255, .3);
}

.tab__link._active{
    background-color: var(--white-solid-color);
    border-color: var(--white-solid-color);
}

.tab__contents-wrapper{
    position: relative;
}

.tab__content{
    position: absolute;
    column-gap: 10px;
    left: 0;
    top: 38px;
    width: 100%;
    padding: 60px;
    background-color: var(--white-solid-color);
    box-shadow: -1px 6px 18px rgba(0, 0, 0, 0.09);
    opacity: 0;

    transition: opacity .3s ease-in;
}

.tab__content._show{
    opacity: 1;
}

.tab__info-content{
    flex: 1 1 35.25em;
}

.tab__text:not(:last-child) {
    margin-bottom: 10px;
}

.tab__content h2{
    margin-bottom: 12px;
}

.tab__content-btn{
    margin-top: 1.5rem;
}

@media screen and (max-width: 65.625rem) {
    .tab__content{
        padding: 30px;
    }
}

@media screen and (max-width: 51.25rem) {
    .tab__image-wrapper{
        display: none;
    }

}

/* services */

.services{
    padding: 240px 0 140px;
    background-color: var(--white-gray-color);
}

.services__wrapper{
    margin-top: 3.125rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23.75rem, 1fr));
    gap: 30px;
}

.services .short-about-text{
    background-color: var(--white-solid-color);
}

.service{
    background-color: var(--secondary-color);
    color: var(--gray-silver-color);
    font-size: 1.125rem;
    padding: 2.7777em 2.55555em 2.7777em 2.1875em;
}

.service__title{
    color: var(--main-color);
    margin: .8em 0 .6em;
}

.service p{
    line-height: 1.5;
    margin-bottom: 1.375rem;
}

.service__btn{
    color: var(--white-color);
    position: relative;
}

.service__btn::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    right: 0;
    height: 2px;
    background-color: var(--white-color);
    
    transition: all .15s ease-in;
}

.service__btn:hover::before{
    width: 100%;
    left: 0;
}

/* why choose us */

.why-choose-us{
    display: flex;
}

.why-choose-us > div{
    flex: 1;
    justify-self:auto;
}

.why-choose-us__left{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    padding: 8.75rem 0;
}

.why-choose-us__counter-list{
    background: rgba(28, 39, 82, 0.86);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px 80px;
}

.why-choose-us__counter-item{
    display: grid;
    grid-template-columns: 11fr 29fr;
}

.why-choose-us__counter{
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-family: 'Mulish';
    line-height: 1.46;
    font-size: 1.5rem;
    padding: .6666em 1.75em .6666em 1.3125em;
    display: flex;
    align-items: baseline;
}

.why-choose-us__counter-item:not(:last-child){
    margin-bottom: 23.5px;
}

.why-choose-us__counter-text{
    color: var(--white-solid-color);
    border: 1px solid var(--white-solid-color);
    border-left: none;
    padding: 0 20px;
    display: inline-flex;
    align-items: center;
}

.why-choose-us__content{
    margin: auto;
    padding: 10px;
}

.why-choose-us__content-wrapper{
    max-width: 36.875rem;
    margin: 0 auto 15px;
}

.why-choose-us__content-top{
    margin-bottom: 2.5rem;
}

.why-choose-us__benefit-item:not(:last-child){
    margin-bottom: 1.5625rem;
}


.why-choose-us__benefits-list{
    max-width: 31.25rem;
}

@media screen and (max-width: 61.25rem) {
    .why-choose-us{
        flex-direction: column;
    }

    .why-choose-us__content{
        padding: 50px 10px 70px;
    }
}


/* gallery */

.gallery{
    padding: 140px 15px 160px;
    background-color: var(--secondary-color);
    text-align: center;
}

.gallery .section-top h2{
    color: var(--white-solid-color);
}

.gallery__wrapper{
    max-width: 85.625rem;
    margin: 3.125rem auto 0;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.gallery__item{
    background-color: var(--white-color);
    border: 1px solid var(--gray-silver-color);
    padding: 21px 21px 26px;
    /* min-width: 260px; */
}

.gallery__item h3{
    color: var(--secondary-color);
}

.gallery__image{
    width: 100%;
    background-size: cover;
    background-position: top;
    height: 334px;
    margin-bottom: 1.6875rem;
}

/* testimonial */

.testimonial{
    width: 100%;
}

.testimonial__top{
    margin-bottom: 2.5625rem;
}

.testimonial__top .short-about-text{
    margin-bottom: 1.9444444444em;
}

.contacts{
    padding: 140px 0 40px;
}

.contacts__wrapper{
    gap: 10px;
    align-items: flex-start;
}

.contacts__col{
    align-self: stretch;
    flex-shrink: 1;
    flex-grow: 1;
}

.contacts__col:first-child{
    display: flex;
    flex-direction: column;
    max-width: 36.9375rem;
    justify-content: space-between;
    row-gap: 20px;
}

.contacts__col:nth-child(2){
    flex-basis: 35.25rem;
}

.comments{
    position: relative;
    width: 100%;
}

.comment{
    border: 1px solid #DDDDDD;
    padding: 40px 41px 90px;
    width: 100%;
}

.splide__pagination{
    display: none;
}

.splide__arrows{
    position: absolute;
    z-index: 10;
    bottom: 38px;
    left: 41px;
}

.splide__arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white-gray-color);
    cursor: pointer;
    transition: opacity .1s ease-in;
}

.splide__arrow[disabled] {
    opacity: .6;
    cursor: auto;
}

.comment__top{
    align-items: flex-start;
    padding-bottom: 21px;
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 1.25rem;
}

.comment__author{
    display: flex;
    gap: 10px;
    align-items: center;
}

.comment__author-name{
    font-size: 1.375rem;
    color: var(--secondary-color);
    line-height: 1.4;
}

.comment__quotes{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment__text{
    font-style: italic;
    line-height: 1.5;
}

.comment__text span{
    color: var(--secondary-color);
    font-weight: 700;
}

/* appointemnt form */

.appointment-form{
    margin-top: 2.5rem;
    background-color: var(--white-gray-color);
    padding: 70px 40px 65px;
}

.appointment-form input,
.appointment-form button,
.appointment-form textarea{
    width: 100%;
}

.appointment-form input,
.appointment-form textarea{
    margin-bottom: 1.5265rem;
    background-color: var(--white-solid-color);
    border: 1px solid #CCCCCC;
    padding: 1.117647em 2.58823em ;
}

.appointment-form textarea{
    padding-left: 2.17647em;
    padding-right: 2.17647em;
    height: 9.375rem;
}

.appointment-form__input:-moz-placeholder{
    color: blue;
}

.appointment-form__button{
    background-color: var(--main-color);
    font-weight: 700;
    line-height: 1.59;
    font-size: 1.0625rem;
    padding: 1.17647em 0 1.23529em;
    color: var(--secondary-color);
}

/* contacts banner */

.contacts-banner {
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 50px 40px;
}

.contacts-banner h3{
    margin-bottom: .52em;
}

.contacts-banner__telephone{
    margin-top: 20px;
    gap: 20px;
    justify-content: flex-start;
}

.contacts-banner__telephone-image{
    width: 50px;
    height: 50px;
    background-color: var(--white-solid-color);
    border-radius: 50%;
    justify-content: center;
}

.contacts-banner__telephone-image img{
    width: 26px;
    height: 26px;
}

.contacts-banner__telephone-text{
    color: var(--white-solid-color);
    font-size: 1.875rem;
    font-family: 'Mulish';
    line-height: 1.5;
}


@media screen and (max-width: 68.125rem) {
    .contacts__col:first-child{
        max-width: 48%;
    }
}

@media screen and (max-width: 51.25rem) {
    .contacts-banner{
        padding: 40px 32px;
    }

    .comment{
        padding: 32px 32.8px 72px;
    }

    .appointment-form{
        padding: 56px 32px 52px;
    }

    .contacts-banner__telephone-text{
        font-size: 1.25rem;
    }

    .splide__arrows{
        bottom: 20px;
    }

    .comment__quotes {
        display: none;
    }
}

@media screen and (max-width: 43.75rem) {
    .contacts__wrapper{
        flex-direction: column;
        row-gap: 70px;
    }

    .contacts__col:first-child{
        max-width: 100%;
        flex-direction: row;
        column-gap: 20px;
    }

    .testimonial{
        width: 48%;
    }

    .contacts-banner{
        align-self: flex-start;
    }
}

@media screen and (max-width: 39.375rem) {
    .contacts__col:first-child{
        flex-direction: column;
    }

    .contacts__col:first-child{
        column-gap: 40px;
    }

    .testimonial{
        width: 100%;
    }

    .comment__quotes {
        display: flex;
    }
}

@media screen and (max-width: 25rem) {
    .comment__quotes {
        display: none;
    }
}

/* clients */

.clients{
    padding: 57px 0 140px;
}

.clients__wrapper{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(211px, 1fr));
    gap: 15px;
}

.clients__item{
    justify-self: center;
}

@media screen and (max-width: 34.375rem) {
    .clients__item{
        width: 100%;
    }

    .clients__wrapper{
        grid-template-columns: 1fr 1fr;
    }

    .clients__item img{
        width: 98%;
    }
}

@media screen and (max-width: 31.125rem) {
    .clients{
        padding-bottom: 80px;
    }
}

/* price */

.price{
    background-color: var(--white-gray-color);
    padding: 140px 0 130px;
}

.price__top-wrapper{
    gap: 15px;
    margin-bottom: 2.5rem;
}

.price__top-wrapper > div,
.price__top-wrapper > p {
    flex: 1;
}

.price__top-wrapper .short-about-text{
    background-color: var(--white-solid-color);
    margin-bottom: 1.277777em;
}


.price-item{
    padding: 40px 40px 50px;
    background-color: var(--white-solid-color);
}

.price__items-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23.75rem, 1fr));
    grid-gap: 30px;
}

.price-item__top{
    align-items: flex-end;
    padding-bottom: 2.25rem;
    margin-bottom: 1.875rem;
    border-bottom: 1px solid #D7D7D7;
    column-gap: 10px;
}

.price-item__category{
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: .02em;
    margin-bottom: .35em;
    color: var(--secondary-color);
}

.price-item__price{
    color: var(--secondary-color);
    line-height: 1.1;
    font-family: 'Mulish';
    font-size: 2rem;
}

.price-item__top-text{
    font-size: .9375rem;
    line-height: 1.6;
}

.price-item__top-label{
    text-transform: uppercase;
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 0 .625em;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: .9375em;
}

.price-item__benefits{
    margin-bottom: 3.4375rem;
}

.price-item__benefits li{
    list-style: inside;
    list-style-image: url('../images/icons/priceCheckMark.svg');
    font-size: 1.0625rem;
    line-height: 1.59;
}

.price-item__benefits li p{
    display: inline;
    padding-left: 5px;
    position: relative;
    top: -2px;
}

.price-item__benefits li:not(:last-child){
    margin-bottom: 1.25rem;
}

.price-item__btn{
    width: 100%;
    text-align: center;
}

.price__bnefits{
    margin-top: 3.875rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem;
}

@media screen and (max-width: 50rem) {
    .price__top-wrapper{
        flex-direction: column;
    }
}

@media screen and (max-width: 34.375rem) {
    .price__bnefits{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 26.25rem) {
    .price-item__top{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .price-item__top-text{
        margin-top: 1.4em;
    }
}

/* news */

.news{
    padding: 140px 0 80px;
}

.news .news__top{
    margin-bottom: 2.5rem;
}

.news__wrapper{
    gap: 30px;
    flex-wrap: wrap;
}

.news-item{
    flex: 1 1 48%;
}

.news-item__img-wrapper{
    position: relative;
    margin-bottom: 3.125rem;
}

.news-item__img-wrapper > img{
    height: 23.125rem;
    width: 100%;
}

.news-item__details{
    position: absolute;
    bottom: -28.43px;
    left: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transform: translateX(-50%);
}

.news-item__details-item{
    padding: 20px 0 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--secondary-color);
    background-color: var(--main-color);
    min-width: 11.25rem;
}

.news-item__details-item:nth-child(1){
    background-color: #FFC368;
}

.news-item h3{
    margin-bottom: .53333em;
}

.news-item__text{
    font-size: 1.0625rem;
    line-height: 1.59;
}

.news-item__link{
    margin-top: .85em;
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    font-size: 1.25rem;
    line-height: 1.5;
    gap: 10px;
}

.news-item__link img{
    transition: transform .2s ease-in;
}

.news-item__link:hover img{
    transform: translateX(10px);
}

@media screen and (max-width: 28.75rem) {
    .price .news-item__details-item{
        min-width: 9rem;
        padding: 10px 9px;
        font-size: .8rem;
    }
}

/* subscribe-newsletter */

.subscribe-newsletter{
    padding: 140px 0 52px;
    background-color: var(--main-color);
}

.subscribe-newsletter__wrapper{
    align-items: flex-start;
    column-gap: 20px;
}

.subscribe-newsletter__content{
    color: var(--secondary-color);
    max-width: 25.625rem;
}

.subscribe-newsletter h3{
    font-size: 2rem;
    margin-bottom: 0.28125em;
}

.subscribe-newsletter__form{
    display: flex;
    align-items: center;
    position: relative;
}

.subscribe-newsletter__input{
    padding: 20px 20px 21px 25px;
    background-color: transparent;
    color: var(--white-solid-color);
    border: none;
    outline: 2px solid var(--white-solid-color);
    position: relative;
    width: 24.375rem;
}

.subscribe-newsletter__form::before,
.subscribe-newsletter__form::after{
    content: '';
    width: 2px;
    height: 2px;
    position: absolute;
    top: -2px;
    left: -2px;
    background-color: var(--main-color);
    z-index: 10;
}

.subscribe-newsletter__form::after{
    top: 100%;
}

.subscribe-newsletter__input::placeholder{
    color: var(--white-solid-color);
}

.subscribe-newsletter__input:focus-visible{
    outline-color: var(--white-solid-color);
}

.subscribe-newsletter__button{
    background-color: var(--white-solid-color);
    color: var(--secondary-color);
    padding: 20px 41px;
    line-height: 1.59;
    font-size: 1.0625rem;
    transform-origin: left;

    transition: background-color .3s ease-in;
}

.subscribe-newsletter__button:hover{
    background-color: rgba(255, 255, 255, .7);
}

@media screen and (max-width: 65rem) {
    .subscribe-newsletter__input{
        width: 100%;
        padding-right: 30px;
    }
}

@media screen and (max-width: 55rem) {
    .subscribe-newsletter__wrapper{
        flex-direction: column;
        row-gap: 40px;
        text-align: center;
        align-items: center;
    }

    .subscribe-newsletter__form{
        width: 70%;
    }
}

@media screen and (max-width: 37.5rem) {
    .subscribe-newsletter__wrapper{
        text-align: left;
    }

    .subscribe-newsletter__form{
        width: 100%;
    }

    .subscribe-newsletter__content{
        max-width: 100%;
    }
}

/* footer */

.footer{
    padding: 50px 0 30px;
    background-color: var(--secondary-color);
}

.footer__top{
    border-bottom: 1px solid #4B557D;
    padding-bottom: 2.5rem;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}

.contacts-info{
    gap: 46px;
}

.footer__contacts-link{
    color: var(--white-solid-color);
}


.footer__content-wrapper{
    margin-bottom: 53.69px;
    padding-bottom: 3px;
    display: grid;
    grid-template-columns: 401fr 472fr 236fr;
    grid-gap: 44px;
    color: var(--white-solid-color);
    border-bottom: 1px solid var(--blue-gray-color);
}


.footer__about-us{
    align-self: end
}

.footer__social-links{
    margin-top: 3.25rem;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.footer__social-link{
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C3765;
}

.footer__page-links{
    padding: 41px 0;
}

.footer__page-links_lg{
    display: flex;
    justify-content: center;
    column-gap: 80px;
    position: relative;
}

.footer__page-links_lg::before,
.footer__page-links_lg::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -56.69px;
    width: 1px;
    height: calc(100% - 82px);
    background: var(--blue-gray-color);
}

.footer__page-links_lg::after{
    left: calc(100% - 1px);
}

.footer__page-links h5{
    color: var(--main-color);
    margin-bottom: .8em;
}

.footer__page-links-wrapper li:not(:last-child){
    margin-bottom: .625rem;
}

.footer__page-link{
    font-size: 1.0625rem;
    line-height: 1.5;
}


@media screen and (max-width: 60.625rem) {
    .footer__page-links_lg{
        column-gap: 30px;
    }
    .footer__content-wrapper{
        column-gap: 26px
    }
}

@media screen and (max-width: 53.75rem) {
    footer .contacts-info {
        column-gap: 25px;
    }
}

@media screen and (max-width: 50rem) {
    .footer__content-wrapper{
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        row-gap: 40px;
        padding-bottom: 30px;
        margin-bottom: 0;
    }

    .footer__about-us{
        padding-top: 30px;
        grid-column: 1 / 4;
        text-align: center;
        max-width: 500px;
        justify-self: center;
    }

    .footer__page-links{
        padding: 0;
    }

    .footer__page-links_lg{
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0;
    }

    .footer__page-links_lg > div{
        justify-self: center;
    }

    .footer__page-links:last-child{
        justify-self: center;
    }

    .footer__page-links_lg::before,
    .footer__page-links_lg::after{
        display: none;
    }

    .footer__social-links{
        justify-content: center;
    }
}

@media screen and (max-width: 47.5rem) {
    footer .contacts-info{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer .logo{
        margin: 0 auto;
    }
}

@media screen and (max-width: 33.75rem) {
    .footer__page-link{
        font-size: .8rem;
    }

    .footer__page-links h5{
        font-size: 1rem;
    }
}

@media screen and (max-width: 24.375rem) {
    .footer__page-links{
        grid-column: 1 / 4;
    }
}

/* copyright */

.copyright{
    background-color: #0b1333;
    text-align: center;
    padding: 15px 0;
    color: var(--white-color);
}